.telaInicial {
  background: #FFFFFF;
  
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 45px !important;
  background: #776AC5;
}

.navBarSearch {
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
}

.searchIcon {
  position: absolute;
  margin-right: 5px;
}


.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.containerNavButtons {
  gap: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.navButtons {
  font-family: 'SansSerifBldFLF';
  font-weight: 550;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  color: #4174B4 !important;
}

.textPrimary {
  font-family: 'SansSerifBldFLF';
  font-weight: 550;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  color: #4174B4 !important;
}

.textSecondary {
  font-family: 'SansSerifFLF';
  font-weight:600;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  color: #000000 !important;
}

.containerPesquisa {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 15px;
  
}
.lupaImg {
  position: absolute;
  margin-left: 8px;
}
.inputPesquisa {
  box-sizing: border-box;

width: 330px;
height: 40px;


border: 3px solid #4174B4;
border-radius: 24px;
}

.botaoPublicar {
width: 200px;
height: 40px;
  border: none;

background: #776AC4;
border-radius: 24px;

  font-family: 'SansSerifFLF';
font-style: normal;
font-weight: 550;
font-size: 16px;

color: #FFFFFF;

}

@media (max-width: 990px) {
  .mobile-spacing {
    margin-top: 8px;
  }
}
