* {
    font-family: "SansSerifBldFLF";
}

.telaInicial {
    background: #ffffff;
}

#espacoRoxoHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45px;
    background: #776ac5;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 45px !important;
    background: #776ac5;
}

.navBarSearch {
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
}

.searchIcon {
    position: absolute;
    margin-right: 5px;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.containerNavButtons {
    gap: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navButtons {
    font-family: "SansSerifBldFLF";
    font-weight: 550;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #4174b4 !important;
}

.textPrimary {
    font-family: "SansSerifBldFLF";
    font-weight: 550;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #4174b4 !important;
}

.textSecondary {
    font-family: "SansSerifFLF";
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #000000 !important;
}

.containerPesquisa {
    display: flex;
    position: relative;
    align-items: center;
    margin-right: 15px;
}

.lupaImg {
    position: absolute;
    margin-left: 8px;
}

.inputPesquisa {
    box-sizing: border-box;
    width: 330px;
    height: 40px;
    border: 3px solid #4174b4;
    border-radius: 24px;
}

.botaoPublicar {
    text-decoration: none;
    text-align: center;
    width: 200px;
    height: 40px;
    border: none;
    background: #776ac4;
    border-radius: 24px;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    color: #ffffff;
}

/* Essa estilização é a certa pro modo de exibição como página inteira 

.conteudo{
  font-family: 'SansSerifBldFLF';
  display: flex;
  margin-top: 4%;
}

*/

.conteudo {
    font-family: "SansSerifBldFLF";
    width: 100%;
    margin-top: 50%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.telaTudoCerto {
    padding: 10px;
    margin: auto;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    background: #ccbcfc;
}

h1 {
    margin-top: 4%;
}

.botaoLogar {
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-outline-dark {
    font-size: 130%;
    width: 30%;
}

.modal-dialog {
    margin-top: 15%;
}

/*Perfil*/

@media (max-width: 990px) {
}

.profile img {
    margin-right: 0;
    margin-bottom: 10px;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 10px;
    margin-left: 35px;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #4174b4;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;

    background-color: #4174b4;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.engrenagemImg {
    width: 20px;
    height: 20px;
}

.inputText {
    justify-content: center;
    display: flex;
    margin: auto;
    opacity: 0, 5;
    border-radius: 10px;
    background: linear-gradient(0deg, #e2efff, #e2efff),
        linear-gradient(0deg, #4174b4, #4174b4),
        linear-gradient(0deg, #4174b4, #4174b4), #4174b4;
}

.h5 {
    text-align: center;
}

.profile-info h3 {
    text-align: center;
    font-family: "SansSerifBldFLF";
}

.portfolio-container {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    width: 550px;
    align-content: center;
    text-align: center;
    margin-top: 10px;
}

.Profile-info {
    display: contents;
    align-items: center;
    margin-bottom: 0px;
    width: 550px;
    align-content: center;
    text-align: center;
    margin-top: 10px;
}

.portfolio-container button {
    background-color: #4174b4;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 250px;
    margin-left: 10px;
    cursor: pointer;
    justify-content: flex-start;
}

.portfolio-container button:hover {
    background-color: #4174b4;
}

.gear-border {
    float: right;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background-color: #4174b4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    border-radius: -10%;
    margin-top: -4%;
}

.gear-border button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: 16%;
    font-size: 1rem;
    margin-left: -3550%;
    margin-top: -6%;
}

.textPdf {
    font-size: 20px;
    text-align: center;
}

.portfolioButton {
    display: inline-block;
    vertical-align: middle;
}

.publicacao {
    background-color: #ac8ef0;
    font-family: "SansSerifFLF";
    color: #000000;
    height: 280px;
    width: 900px;
    margin-bottom: 10px;
}

.publicacao2 {
    background-color: #a9d4f4;
    font-family: "SansSerifFLF";
    color: #000000;
    height: 280px;
    width: 900px;
    margin-bottom: 10px;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    background: #3f1ff4;
    color: #ffffff;
    margin-bottom: 10px;
}

/* display: inline-block;
vertical-align: middle;
transform: rotate(-179.76deg);
border-radius: -10px;
} */

.botaoLogar {
    margin-bottom: 5%;
}

.btn-outline-dark {
    font-size: 130%;
    width: 50%;
}

.modal-dialog {
    margin-top: 50%;
}

.modal-dialog {
    margin-top: 8% !important;
}

.modal-content {
    display: flex;
    margin: auto;
    margin-top: 30%;
}

.conteudo {
    font-family: "SansSerifBldFLF";
    width: 100%;
}

.telaAdicionarArquivo {
    padding: 15px;
    list-style-type: none;
    margin: auto;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    background: #ccbcfc;
}

h2 {
    margin-top: 4%;
}

.formsAdicionarPDF {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    width: 80%;
}

.botaoAdicionar {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.btn-outline-dark {
    font-size: 130%;
    width: 40%;
}

.telaExcluirPortfolio {
    margin: auto;
    padding: 15px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    background: #fce4e4;
}

.botoesTelaExcluirPortfolio {
    margin-top: 5%;

    display: flex;
    justify-content: center;
}

.btn-outline-secondary {
    margin-right: 8%;
    font-size: 130%;
    width: 25%;
}

.btn-outline-danger {
    font-size: 130%;
    width: 25%;
}

@media (max-width: 990px) {
    .btn-outline-secondary {
        width: 40%;
        margin-right: 4%;
    }

    .btn-outline-danger {
        width: 40%;
    }

    .modal-content {
        display: flex;
        margin: auto;
        margin-top: 50%;
    }

    .conteudo {
        width: 100%;
    }

    h1 {
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .btn-outline-dark {
        width: 70%;
    }

    .modal-dialog {
        margin-top: 35%;
    }
}
